/**
    Font variables
*/
$heading-font-family: Montserrat, SemiBold;
$heading-font-size: 48px;
$sub-heading-font-size: 30px;

$card-font-size: 20px;

$body-font-family: Montserrat, Regular;
$body-font-size: 16px;

$book-name-font-size: 12px;

/**
    Colors
*/
$primary: #5E56E7;
$secondary: #F8F7FF;

$grey: #F0F0F6;
$grey-medium: #A0A0A0;
$grey-dark: #333333;

$white: #ffffff;
$black: #000000;